<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="header">
    <img class="logo" src="/pictures/logo.svg">
        <ul class="hr">
            <li><a href="/">Home</a></li>
            <li sec:authorize="hasRole('ROLE_DOCTOR')"><a href="/claim_request">Claim Request</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/claim_request">Claim Request</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/send_request">Send Request</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/send_request">Send Request</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">AdminPanel</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
</div>
<div class="main">
    <h1>Clinic for the provision of operating rooms</h1>
    <form action="/send_request">
        <input class="submitApp" type="submit" value="Submit your application" />
    </form>
</div>

</body>
</html>
