<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
<div class="overlay">
      <form th:action="@{/registration}" method="POST" modelAttribute="userForm">
          <div class="con">
            <header class="head-form">
              <h2>Sign Up</h2>
            </header>
            <br>
            <div class="field-set">
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
              <input type="text" name="first_name" class="form-input" placeholder="First Name" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
              <input type="text" name="last_name"  class="form-input" placeholder="Last Name" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
              <input type="text" name="email"  class="form-input" placeholder="Email" autofocus="true">
                <br>
                <span class="input-item">
                    <i class="fa fa-user-circle"></i>
                </span>
              <input class="form-input" type="text" name="username" placeholder="Username" required>
              <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
              <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
              <input type="password" class="form-input" name="passwordConfirm" placeholder="Confirm your password">
                <br>
              <button class="log-in" type="submit">Sign Up</button>
            </div>

              <div class="other">
                  <a href="/login"><button class="btn submits sign-up" type="button">Log in</button></a>
              </div>
          </div>
      </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>